* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.ul {
    display: flex;
    list-style: none;
    gap: 3em;
    color: white;
    padding-top: 2em;
    padding-left: 3em;
}

.ul :hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.search{
    position: relative;
    margin-top: -2em;
    margin-left: 60em;
}

input{
    width: 20px;
    height: 40px;
    padding: 1em;
    border: none;
    transition: width 0.3s ease;
    color: #fff;
}

::placeholder {
    color: #fff;
}

input:focus {
    outline: 0;
}

.btn {
    position: absolute;
    left: -30px;
    top: 0;
    width: 10px;
    height: 40px;
    padding-left: -3.3em;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease;
    background-color: transparent;
}

.search.active input {
    width: 250px;
    background-color: cornflowerblue;
    color: #fff;
}

.search.active button {
    transform: translateX(250px);
}

.first h2 {
    color: black;
}

.sliderContainer {
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
}

.slider img {
    height: 80vh;
    width: auto;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    color: white;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    color: white;
    cursor: pointer;
}

.grid-item img {
    height: 320px;
    width: 320px;
}

.grid {
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-item p {
    padding: 1em 0em;
    line-height: 0.5em;
}

#browse{
    padding-left: 77em;
    margin-top: -1em;
}


.fourth {
    background-color: rgb(209, 169, 169);
    padding: 15px;
    height: 75vh;
}

.fourth h1 {
    text-align: center;
}

.fourth p {
    text-align: center;
    padding-top: 17px;
}

#continue{
    text-decoration: rgb(153, 86, 86) underline;
    text-underline-position: under;
    padding: 1em 0em;
}

.ig {
    text-align: center;
    padding-top: 5em;
}

.foot img:hover {
    transform: scale(1.5);
}

.foot img {
    padding-top: 15px;
    height: 150px;
    width: 150px;
    transition: transform .3s;

}


.foot {
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

.foot i {
    padding-top: 5em;
}

.icons {
    padding-top: 2em;
    padding-left: 40em;
}

.end p{
    padding-top: 2em;
    text-align: center;
}